<!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{$Think.RESOURCE_PATH}/static/js/bootstrap.min.js"></script>
    <script src="{$Think.RESOURCE_PATH}/static/js/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- knob -->
    <script src="{$Think.RESOURCE_PATH}/static/js/jquery.knob.js"></script>
    <!-- flot charts -->
    <script src="{$Think.RESOURCE_PATH}/static/js/jquery.flot.js"></script>
    <script src="{$Think.RESOURCE_PATH}/static/js/jquery.flot.stack.js"></script>
    <script src="{$Think.RESOURCE_PATH}/static/js/jquery.flot.resize.js"></script>
    <script src="{$Think.RESOURCE_PATH}/static/js/theme.js"></script>
</body>
</html>