 <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="/">
                    <!-- <i class="icon-home"></i> -->
                    <span>首页</span>
                </a>
            </li>            
            <li>
                <a class="dropdown-toggle" href="#">
                    <!-- <i class="icon-group"></i> -->
                    <span>会员管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{:url('User/index')}">会员列表</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <!-- <i class="icon-group"></i> -->
                    <span>产品管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{:url('Goods/index')}">产品列表</a></li>
                    <li><a href="{:url('Goods/add')}">添加产品</a></li>
                    <li><a href="{:url('Goods/cat')}">产品分类</a></li>
                    <li><a href="{:url('Goods/brands')}">产品品牌</a></li>
                    <li><a href="{:url('Goods/labels')}">产品属性标签</a></li>
                    <li><a href="{:url('Goods/values')}">产品属性值</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <!-- <i class="icon-group"></i> -->
                    <span>管理管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{:url('Goods/index')}">管理员列表</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <!-- <i class="icon-group"></i> -->
                    <span>订单管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{:url('Goods/index')}">订单列表</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <!-- <i class="icon-group"></i> -->
                    <span>后台导航</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{:url('Goods/index')}">导航列表</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <!-- <i class="icon-group"></i> -->
                    <span>系统管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{:url('Goods/index')}">快递管理</a></li>
                    <li><a href="{:url('Goods/index')}">支付管理</a></li>
                    <li><a href="{:url('Goods/index')}">模板管理</a></li>
                </ul>
            </li>
        </ul>
    </div>
<!-- end sidebar -->
<script type="text/javascript">
    // var test = window.location.href;
    // alert(test);
</script>